@media screen and (max-width: 991.9px) {
    .container {
        max-width: 800px;
    }

    .header {
        padding-top: 40px;
    }

    .hero {
        margin-top: 80px;
    }

    .hero-content::after {
        width: 281px;
        height: 482px;
        left: 100%;
        transform: translateX(-100%);
        background-size: 100% 100%;
    }

    .hero-content {
        padding: 88px 0 40px;
    }

    .hero-info {
        max-width: 530px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }

    .line::after {
        width: 231.19px;
        height: 25.78px;
    }

    .hero-statistics {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 128px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
        margin: 40px 0 40px;
    }

    .amaki {
        margin-top: 493px;
    }

    .amaki-content {
        padding: 0 58px 64px;
        flex-wrap: wrap;
        gap: 117px;
        top: 100%;
        transform: translate(-50%, -220px);
    }

    .amaki-content>div {
        width: 100%;
    }

    .amaki-img-wrap {
        width: 252px;
        transform: translateX(10px);
        margin: 0 auto;
        height: 221px;
    }

    .amaki-img-wrap::after {
        width: 49.27px;
        height: 40px;
        top: 100%;
        left: 50%;
        transform: translate(calc(-50% - 10px), 100%);
    }

    .amaki-img-wrap::before {
        width: 197px;
        height: 197px;
        top: 0;
        right: 34px;
    }

    .amaki-img {
        width: 252px;
        height: 402px;
        right: 0;
    }

    .amaki-info {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .amaki-title {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
    }

    .amaki-text {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.09px;
    }

    .amaki-name {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
    }

    .amaki-job {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.5px;
    }

    .footer {
        padding-top: 536px;
    }
}